<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22006674641-t3pjmie7gom2lhg4m16bbk6rir1iomih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22006674641-t3pjmie7gom2lhg4m16bbk6rir1iomih</string>
	<key>API_KEY</key>
	<string>AIzaSyAL-hnmovEzWx6RPAGfTmxe7Spim3iXLGE</string>
	<key>GCM_SENDER_ID</key>
	<string>22006674641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WonDongHyun.FireBaseDBExample</string>
	<key>PROJECT_ID</key>
	<string>fir-dataexam</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dataexam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22006674641:ios:cc18906c9cc13c729a41f0</string>
</dict>
</plist>